<ion-view title="APPINION" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="aPPINION-form1" class="list">
            <label class="item item-input" id="aPPINION-textarea1">
                <span class="input-label"></span>
                <textarea placeholder=""></textarea>
            </label>
        </form>
        <div ng-controller="aPPINIONCtrl">
            <button id="aPPINION-button3" class="button button-positive  button-block" ng-click="ctrl.searchOpinions()">Search opinions</button>
            <appiniondonut ng-if="chartProvider">
                <div id="donut-example" style="height: 300px; width: 100%;"></div>
            </appiniondonut>
        </div>
    </ion-content>
</ion-view>
